<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>project_14</title>
</head>
<body>
    <form method="post" action="/logincheckout/">
        {% csrf_token %}
    <table align="center" border="2">
        <tr>
            <th colspan="2" style="background-color: chartreuse">Login Page</th>
        </tr>
        <tr> <th> Username</th> <td> <input type="text" placeholder="username" required name="t1"> </td>
        </tr>

        <tr> <th> password </th> <td> <input type="password" placeholder="password here" required name="t2"> </td>
        </tr>
        <tr> <th style="background-color: chocolate"><button type="submit" style="background-color: darkblue">click to login</button> </th></tr>
    </table>
    </form>
</body>
</html>