{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sathya Tech</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <link rel="stylesheet"  href="{% static 'css/mystyle.css' %}">
</head>
<body>
      <table align="center" border="0" width="90%">
          <tr>
              <th ><img src="{% static  'image/sathya_tech.jpg'%}"></th>
              <th>

               <h1> Sathya Technologies </h1>
              </th>
          </tr>
          <tr>
              <th colspan="2">
              <nav class="navbar navbar-expand-lg navbar-dark bg-warning main_menu">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" >Login Options</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link "  href="/home/">home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Courses
          </a>
             <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="{% url 'angular' %}">Angular</a></li>
            <li><a class="dropdown-item" href="#">React Js</a></li>
            <li><a class="dropdown-item" href="#">Express</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'Login' %}">Login</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Class link
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
             <li class="nav-item">
          <a class="nav-link "  href="{% url "register" %}">Registration</a>
        </li>
        </li>
      </ul>
    </div>
  </div>
</nav></th></tr>

           <tr>
               <th colspan="3" style="text-align: center">
                   {% block content %}
                   {% endblock %}
               </th>
           </tr>

           <tr><th colspan="2" style="text-align: center" width="30%"><h5 style="margin-top:10px">copyright @sathya Tech 2k21</h5></th></tr>
           <tr></tr>
      </table>
</body>
</html>