<html>
    <body>
        <table  border=2 align="center" bgcolor="red">
            <tr>
                <th> idno </th>
                <th>class</th>

                <th>name</th>
                <th>cno</th>
                
            </tr>
			{% for record in data %}
              <tr>
                            
            <td>{{record.idno}}</td>
            <td>{{record.class}}</td>
            <td>{{record.name}}</td>
            <td>{{record.cno}}</td>
             
            </tr>
            {% endfor %}
        </table>
    </body>
</html>