<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>project_13</title>
</head>
<body>
    <form>
        <label>Name here:</label>
        <input type="text" placeholder=""> <br> <br>

        <label>Idno here:</label>
        <input type="number" placeholder=""><br> <br>
        <label>password here:</label>
        <input type="password" placeholder=""><br> <br>
        <label>Dropdown here:</label>
        <input type="checkbox" placeholder=""><br> <br>
{#        <select></select>#}
        <button type="submit">click here <a href="https://github.com/"></a></button> <br> <br>
    </form>
</body>
</html>