<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>project_13</title>
</head>
<body>
    <form method="post" action="/init/">
        {% csrf_token %}
{#        <label>Name here:</label>#}
{#        <input type="text" placeholder=""> <br> <br>#}

        <label>First name here:</label>
        <input type="text" placeholder="First name" name="n1"><br> <br>
        <label>Last name here:</label>
        <input type="text" placeholder="Last name" name="n2"><br> <br>

{#        <label>Dropdown here:</label>#}
{#        <input type="checkbox" placeholder="" checkbox="c"><br> <br>#}
{#        <select></select>#}
        <button type="submit">click here </button> <br> <br>
    </form>
</body>
</html>