h1{
   background-color: darkturquoise;
}
h2{
   background-color: darkviolet;
}
h3{
   background-color: rgb(0, 255, 170);
}
h4{
   background-color: green;
}
h5{
   background-color:rgb(255, 0, 119) ;
}
h6{
   background-color:yellow ;
}